@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    width: 75%;
    max-width: 800px;
    margin: 60px auto;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

p {
    font-size: 1.125rem;
    text-align: center;
}

h1,
p {
    margin:20px 0;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

input,
button,
select,
textarea {
    margin-bottom: 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}

button {
    border: none;
}

input[type='radio'],
input[type='checkbox'] {
    width: auto;
    margin-bottom: 20px;
}

input[type='radio'],
input[type='checkbox'] {
    width: auto;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Form */
form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}

textarea#textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}

button#submit {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}